@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-base-100: #e2c9c4;
  --color-base-200: #ab7467;
  --color-base-300: #7d544a;
  --color-base-content: #f2f0f0; /* Font color for --color-base-200 */

  --color-primary: #a46952; /* Corresponds to Secondary Shade 200 */
  --color-primary-content: #f2f0f0; /* Font color for --color-primary */

  --color-secondary: #666587; /* Corresponds to Accent Shade 200 */
  --color-secondary-content: #f2f0f0; /* Font color for --color-secondary */

  --color-accent: #666587; /* Corresponds to Accent Shade 200 (duplicate of secondary in your structure) */
  --color-accent-content: #f2f0f0; /* Font color for --color-accent */

  --color-neutral: #d2cdcb; /* Corresponds to Neutral Shade 200 */
  --color-neutral-content: #201e1d; /* Font color for --color-neutral */

  --color-info: #8b8aa6; /* Corresponds to Info Shade 200 */
  --color-info-content: #f2f0f0; /* Font color for --color-info */

  --color-success: #e2c9c4; /* Corresponds to Success Shade 200 */
  --color-success-content: #201e1d; /* Font color for --color-success */

  --color-warning: #f5aa97; /* Corresponds to Warning Shade 200 */
  --color-warning-content: #201e1d; /* Font color for --color-warning */

  --color-error: #d58a6c; /* Corresponds to Error Shade 200 */
  --color-error-content: #f2f0f0; /* Font color for --color-error */

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

body {
  color: var(--color-primary-content);
}

* {
  cursor: url("../public/cursor.svg"), auto;
}
